@import "tailwindcss";

.head {
    @apply text-[1.8rem] font-medium ml-[15vw] mt-[2vh] md:text-[2rem] md:ml-[33vw] xl:text-[3rem]
}

.hr {
    @apply h-[0.4vh] w-[86vw] mx-[7vw] bg-slate-500 mt-[1vh]
}

.dr1 {
    @apply ml-[48vw] text-[1.1rem] mt-[2.5vh] md:text-[1.5rem] xl:ml-[60vw]
}

.a1 {
    @apply border-[0.1rem] w-[20vw] bg-slate-800 mt-[1.5vh] ml-[2vw] border-amber-50 rounded-3xl h-[5vh] md:w-[12vw] md:rounded-4xl lg:w-[8vw] xl:w-[4.7vw] xl:h-[5.1vh]
}

.a2 {
    @apply h-[3.4vh] w-[16vw] bg-blue-900 ml-[1.65vw] mt-[0.52vh] rounded-3xl md:w-[8vw] lg:mt-[0.5vh] lg:w-[5vw] lg:ml-[1vw] xl:mt-[0.5vh] xl:w-[3vw] xl:ml-[0.5vw]
}

.a3 {
    @apply h-[3.5vh] w-[3.5vh] bg-blue-600;
    border-radius: 50%;
}

.t {
    @apply text-amber-50 w-[80vw] ml-[10vw] bg-slate-700 select-none h-[17.2vh] mt-[5vh] rounded-xl border-2 border-slate-400 md:h-[15.5vh] lg:h-[17vh]
}

.time {
    @apply text-[2rem] pt-[5vh] pl-[2vw] font-semibold leading-0 md:text-[2.5rem]
}

.date {
    @apply text-slate-300 pl-[2.5vw] text-[1.5rem] md:text-[2rem]
}

.wea {
    @apply text-amber-50 w-[80vw] ml-[10vw] bg-slate-700 select-none h-[26vh] mt-[5vh] rounded-xl border-2 border-slate-400 lg:h-[28vh]
}

img {
    @apply ml-[3vw] h-[13.5vh] lg:h-[15.5vh]
}

.temp {
    @apply text-[2.5rem] font-semibold pt-[1vh] md:text-[3rem]
}

.patna {
    @apply ml-[28vw] text-[2rem] font-medium md:text-[2.5rem] lg:text-[2rem]
}

.bihar {
    @apply text-slate-300 ml-[31vw] text-[1.5rem] leading-0 mt-[2vh] md:text-[2rem] md:ml-[30vw] lg:text-[1.5rem] lg:ml-[29.5vw]
}

.last {
    @apply w-[80vw] ml-[10vw] bg-slate-700 select-none h-auto mt-[5vh] rounded-xl border-2 border-slate-400 mb-12 relative md:mb-[5vh]
}


.quote {
    @apply text-amber-50 text-[1.3rem] px-[4vw] pt-[2vh] pb-[8vh] md:text-[2rem]
}

.author {
    @apply text-amber-50 text-[1.2rem] absolute bottom-2.5 right-1.5 md:text-[1.5rem] md:right-5
}